<ng4-loading-spinner [threshold]="2000" [timeout]="4000" [template]="template" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
<div id="logreg-forms">
  <form class="form-signin" *ngIf="showSignIn">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
      <div class="input-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="userlogin.useremail" [(ngModel)]="userlogin.useremail">
      </div>

      <div class="input-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="userlogin.userpassword" [(ngModel)]="userlogin.userpassword">
      </div>

      <div class="input-group">
        <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit" (click)="submitDetails()"><i class="fas fa-sign-in-alt"></i> Sign in</button>
      </div>

      <a href="#" id="forgot_pswd" (click)="forgotPswd()">Forgot password?</a>
      <hr>
      <!-- <p>Don't have an account!</p>  -->
      <button class="btn btn-primary btn-block" type="button" id="btn-signup" (click)="toggleSignUp()"><i class="fas fa-user-plus"></i> Sign up New Account</button>
    </form>

    <form action="#" class="form-reset" *ngIf="showResetPassword">
        <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
        <a href="#" id="cancel_reset" (click)="cancelReset()"><i class="fas fa-angle-left"></i> Back</a>
    </form>

    <form action="#" class="form-signup" *ngIf="showSignUp">
        <input type="text" id="user-name" class="form-control" placeholder="Username" name="userdetail.name" required="" autofocus="" [(ngModel)]="userdetail.username">
        <input type="text" id="user-mobile" class="form-control" placeholder="Mobile" name="userdetail.mobile" required="" autofocus="" [(ngModel)]="userdetail.mobile">
        <input type="email" id="user-email" class="form-control" placeholder="Email address" name="userdetail.email" required autofocus="" [(ngModel)]="userdetail.email">
        <input type="password" id="user-pass" class="form-control" placeholder="Password" name="userdetail.password" required autofocus="" [(ngModel)]="userdetail.password">
        <input type="password" id="user-repeatpass" class="form-control" placeholder="Confirm Password" name="confirmPassword" required autofocus="">
        <div class="dropdown" class="form-control">
          <select class="custom-select custom-select-sm" name="userdetail.role" placeholder="User Role" [(ngModel)]="userdetail.role">
            <option value="admin">Admin</option>
            <option value="trainer">Trainer</option>
            <option value="student">Student</option>
          </select>
        </div>

        <div class="input-group">
          <button class="btn btn-md btn-block submit" type="submit" (click)="submitUserInfo()"><i class="fas fa-user-plus"></i> Sign Up</button>
        </div>

        <a href="#" id="cancel_signup" (click)="cancelSignup()"><i class="fa fa-angle-left"></i> Back</a>
    </form>
    <br>
</div>

<div>
  <a href="#" routerLink="/registration" id="enquiry_btn" (click)="enquiry()">Enquiry</a>
</div>