<!-- Section About Start -->
<section class="section about-2 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about-item pr-3 mb-5 mb-lg-0">
                    <span class="h6 text-color">What we are</span>
                    <h2 class="mt-3 mb-4 position-relative content-title">We are dynamic team of industry experienced people.</h2>
                    <p class="mb-5">We explain the concepts from the scratch and cover all the topicsin-depth. 
                            We also teach you the easiest way to build things in order to save time.</p>

                    <a routerLink="/contact" class="btn btn-main btn-round-full">Get started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about-item-img">
                    <img src="assets/images/about/img-1.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section About End -->
<section class="about-info section pt-0">
    <div class="container">
        <h2>FRONTEND COURSES</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Angular</h3>
                    <p>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. 
                        For web, mobile web, native mobile and native desktop.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>React</h3>
                    <p>React is a JavaScript library for building user interfaces. Learn what React is all about on our homepage or in the tutorial.
                    </p>
                </div>
            </div>
        </div>
        <h2>BACKEND Courses</h2>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Mean Stack</h3>
                    <p>Mean stack refers to a collection of JavaScript technologies used to develop web applications.
                        Therefore, from the client to the server to the database everything is based on JavaScript.
                        MEAN is a full-stack development toolkit used to develop a fast and robust web application.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Java Spring</h3>
                    <p>Spring is a lightweight framework. It can be thought of as a framework of frameworks because it
                        provides
                        support to various frameworks such as Struts, Hibernate, Tapestry, EJB, JSF etc. The framework,
                        in broader
                        sense, can be defined as a structure where we find solution of the various technical problems.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Python Django</h3>
                    <p>Django is a high-level Python Web framework that encourages rapid development and clean,
                        pragmatic design.
                        Built by experienced developers, it takes care of much of the hassle of Web development, so you
                        can focus on writing
                        your app without needing to reinvent the wheel. It’s free and open source.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md ">04.</span>C# .Net</h3>
                    <p>.Net is a programming language developed by Microsoft. It was designed to build applications
                        which could run on the
                        Windows platform. The .Net programming language can be used to develop Forms based applications,
                        Web based applications,
                        and Web services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md ">05.</span>Our Mission</h3>
                    <p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt
                        deleniti voluptas distinctio .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Our Mission</h3>
                    <p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt
                        deleniti voluptas distinctio .</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section Counter Start
<section class="section counter bg-counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-5 mb-lg-0">
                    <i class="ti-check color-one text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">1730</span> +</h3>
                    <p class="text-white-50">Project Done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-5 mb-lg-0">
                    <i class="ti-flag color-one text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>M </h3>
                    <p class="text-white-50">User Worldwide</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-5 mb-lg-0">
                    <i class="ti-layers color-one text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">39</span></h3>
                    <p class="text-white-50">Availble Country</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center">
                    <i class="ti-medall color-one  text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">14</span></h3>
                    <p class="text-white-50">Award Winner </p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- section Counter End  -->
<!--  Section Services Start -->
<section class="section team" id="ourTeam">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <span class="h6 text-color">Our Team</span>
                    <h2 class="mt-3 content-title">Expert Team members to teach you the best courses</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item-wrap mb-5">
                    <div class="team-item position-relative">
                        <img src="assets/images/team/team-1.jpg" alt="" class="img-fluid w-100">
                        <div class="team-img-hover">
                            <ul class="team-social list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="instagram"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">Justin hammer</h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item-wrap mb-5">
                    <div class="team-item position-relative">
                        <img src="assets/images/team/team-2.jpg" alt="" class="img-fluid w-100">
                        <div class="team-img-hover">
                            <ul class="team-social list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="instagram"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">Jason roy</h4>
                        <p>UI/UX Designer</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item-wrap mb-5 ">
                    <div class="team-item position-relative">
                        <img src="assets/images/team/team-3.jpg" alt="" class="img-fluid w-100">
                        <div class="team-img-hover">
                            <ul class="team-social list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="instagram"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">Henry oswald</h4>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item-wrap mb-5 mb-lg-0">
                    <div class="team-item position-relative">
                        <img src="assets/images/team/team-4.jpg" alt="" class="img-fluid w-100">
                        <div class="team-img-hover">
                            <ul class="team-social list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="instagram"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">David Williams</h4>
                        <p>Senior Marketer</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item-wrap mb-5 mb-lg-0">
                    <div class="team-item position-relative">
                        <img src="assets/images/team/team-6.jpg" alt="" class="img-fluid w-100">
                        <div class="team-img-hover">
                            <ul class="team-social list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="instagram"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">Peter Odin</h4>
                        <p>App Developer</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item-wrap mb-5 mb-lg-0 ">
                    <div class="team-item position-relative">
                        <img src="assets/images/team/team-5.jpg" alt="" class="img-fluid w-100">
                        <div class="team-img-hover">
                            <ul class="team-social list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="instagram"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-item-content">
                        <h4 class="mt-3 mb-0 text-capitalize">David Spensor</h4>
                        <p>Project Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Section Services End -->
<section class="section testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="section-title">
                        <span class="h6 text-color">Student reviews</span>
                        <h2 class="mt-3 content-title">Check what our Students say about us</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row testimonial-wrap">
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias
                            debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis. </p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">John Dae</h5>
                            <p>Web Developer, XXX tech </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus
                            odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Jane Doe</h5>
                            <p>Data Analyst, xyz technologies</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias
                            debitis atque consequuntur natus iusto recusandae numquam corrupti.</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Jonas doe</h5>
                            <p>Android Developer, 123 technologies</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus
                            odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Mary Dae</h5>
                            <p>Web Developer, abc technologies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Testimonial End -->