<div class="main-wrapper ">
    <section class="page-title bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">Our services</span>
                        <h1 class="text-capitalize mb-4 text-lg">What We Do</h1>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                            <li class="list-inline-item"><span class="text-white">/</span></li>
                            <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--  Section Services Start -->
    <section class="section service border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">Our Services</span>
                        <h2 class="mt-3 content-title ">We provide a wide range of courses </h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-image"></i>
                        <h4 class="mb-3">Web development.</h4>
                        <p>A wide range of web development courses to build most beautiful websites</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-cloud"></i>
                        <h4 class="mb-3">AWS</h4>
                        <p>A course on the most reliable, scalable and in-demand cloud computing services</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-wand"></i>
                        <h4 class="mb-3">Artificial Intelligence</h4>
                        <p>A course that will walk you through combining deep learning, machine learning, and data science practices to 
                            build your own AI and solve unique problems in any industry.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-harddrive"></i>
                        <h4 class="mb-3">Database.</h4>
                        <p>A DB development from Web and Mobile Apps. CRUD operations, Indexes and Aggregation framework/p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-android"></i>
                        <h4 class="mb-3">App development.</h4>
                        <p>Learn App Developmentby building real apps and their deployment in the real use</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-pencil-alt"></i>
                        <h4 class="mb-3">Content creation.</h4>
                        <p>To design an attractive responsive UI for the web apps as well as mobile apps.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Section Services End -->

    <section class="cta-2">
        <div class="container">
            <div class="cta-block p-5 rounded">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-7">
                        <span class="text-color">For Every type business</span>
                        <h2 class="mt-2 text-white">Entrust Your belief in Our Best Team of Professionals</h2>
                    </div>
                    <div class="col-lg-4">
                        <a href="/contact" class="btn btn-main btn-round-full float-right">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>