/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: auto;
    background: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    font-family: "Robato",sans-serif;
    font-size: 17px;
  }